client_secret.json
.DS_Store
.idea/
GoogleCalendarTest.py
GoogleCalendarTest.pyc
MessageClasses.pyc
ScrapeSiteTest.py
test.py
Simple_Sign.py
testfont.py
PressStart2P.ttf
WeatherKey.txt
__pycache__/
imgtest.png
pngdump/
scratch
SpanishWordOfTheDay.txt
WeatherClassesTest.py
WeatherKey.txt
Pixel LCD-7.ttf
PixelCowboy.otf
GoogleSheet.txt
*.icloud
Google_Location_Key.txt
TestingStuff.py
