flip_sign/assets/fonts/**
flip_sign/assets/keys/**
flip_sign/assets/cache/**
tests/assets/fonts/**
tests/assets/keys/**
tests/assets/cache/**
.DS_Store
.idea/
__pycache__/
*.icloud
Google_Drive_Example.py
Weather_Scratch.py


